* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 200px;
}
button {
  margin: 10px;
  height: 30px;
  width: 90px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  background-color: #1e005ac5;
  color: #fff;
}
